<app-nav-bar></app-nav-bar>
<div class="container">

    <div class="container text-center mt-3">
        <div class="row">
            <div class="col col-md-4">
                <input class="form-control border-secondary rounded-pill pr-5" type="search" value="search"
                    id="example-search-input2">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" type="button" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="dropdown rounded-pill">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Select university
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let university of universities"><a class="dropdown-item"
                                        [href]="'#'+ university">{{university}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dropdown rounded-pill">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Select year
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let year of yearList"><a class="dropdown-item"
                                        [href]="'#'+ year">{{year}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center mt-3">
    <div class="row gap-3">
        <div class="col" *ngFor="let randomNumber of numbersArray">
            <div class="card" style="width: 400px;">
                <img [src]="'https://picsum.photos/1000/1000?random='+ randomNumber" class="card-img-top"
                    alt="random-img">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Trailer</a>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>